.NavBar {
  width: 70%;
  position: relative;
  top: 35px;
  left: 24%;
}
.ProjectDetails {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 65px;
}
.searchUserDetail {
  display: flex;
  justify-content: space-between;
}
.Search {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 101.1%;
  letter-spacing: 0.05em;
  color: #9a9a9a;
}
.Search img {
  width: 20px;
  height: 20x;
  position: relative;
  /* bottom: 14px; */
}
.Name {
  display: flex;
  justify-content: space-between;
}
.userName {
  position: relative;
  top: 22px;
}
